<div class="container-fluid">

    <div class="container">

        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-8">

                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"> <a href="" routerLink="/clients" title="Clientes"> Clientes </a> </li>
                        <li class="breadcrumb-item active" aria-current="page" title="Creación de Clientes"><b> Creación </b></li>
                    </ol>
                </nav>

                <div class="d-sm-flex align-items-center justify-content-center mb-4">
                    <h1 class="text-center h3 mb-5 text-gray-800">
                        <i class="fas fa-users"></i>
                        <b> Clientes </b>
                    </h1>
                </div>

                <div class="card shadow">

                    <div class="card-header py-3">
                        <h6 class="text-primary">
                            <i class="fas fa-user-plus"> </i> <b> Creación de Clientes </b>
                        </h6>
                    </div>

                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="p-5">
                                    <h6 class="m-0 font-weight-bold text-danger">
                                        <i class="fas fa-info-circle"> </i> Los campos con (*) son requeridos...
                                    </h6>

                                    <br />

                                    <form [formGroup]="ClientsCreateForm"  (ngSubmit)="onCreate()">
                                        <div class="d-sm-flex align-items-center justify-content-center mb-4">
                                            <h6 class="text-center h5 mb-0 text-primary">
                                                <b> Información General </b>
                                            </h6>
                                        </div>
                                        <hr>
                                        <div class="form-group row">
                                            <div class="col-sm-6 mb-3 mb-sm-0">
                                                <label class="font-weight-bold text-dark">Número de Documento(*):</label>
                                                <input class="form-control form-control-user" formControlName="numeroDoc" title="Número de Documento" type="number" minlength="1"
                                                    placeholder="Número de Documento..." maxlength="10" pattern="^[0-9]+" 
                                                    oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" required />
                                                <span
                                                    *ngIf="ClientCreateFormData.numeroDoc.invalid && (ClientCreateFormData.numeroDoc.dirty || ClientCreateFormData.numeroDoc.touched)"
                                                    class="text-center text-danger small">
                                                    <span *ngIf="ClientCreateFormData.numeroDoc.errors.required">
                                                        <b> * Campo Requerido: </b> Número de Documento Requerido!
                                                    </span>
                                                </span>
                                            </div>
                                            <div class="col-sm-6 mb-3 mb-sm-0">
                                                <label class="font-weight-bold text-dark"> Nombre(*):</label>
                                                <input class="form-control form-control-user" formControlName="nombre" title="Nombre" type="text" 
                                                placeholder="Nombres..." required />
                                                <span
                                                    *ngIf="ClientCreateFormData.nombre.invalid && (ClientCreateFormData.nombre.dirty || ClientCreateFormData.nombre.touched)"
                                                    class="text-center text-danger small">
                                                    <span *ngIf="ClientCreateFormData.nombre.errors.required">
                                                        <b> * Campo Requerido: </b> Nombre del Cliente Requerido!
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-6 mb-3 mb-sm-0">
                                                <label class="font-weight-bold text-dark">Dirección(*):</label>
                                                <input class="form-control form-control-user" formControlName="direccion" title="Dirección" type="text" minlength="1"
                                                    placeholder="Dirección..." required />
                                                <span
                                                    *ngIf="ClientCreateFormData.direccion.invalid && (ClientCreateFormData.direccion.dirty || ClientCreateFormData.direccion.touched)"
                                                    class="text-center text-danger small">
                                                    <span *ngIf="ClientCreateFormData.direccion.errors.required">
                                                        <b> * Campo Requerido: </b> Dirección del Cliente Requerido!
                                                    </span>
                                                </span>
                                            </div>                                            
                                        </div>
                                        <hr>
                                        <br>
                                        <div class="form-group row">
                                            <div class="col-lg-3 mb-3 mb-lg-0 offset-lg-3">
                                                <a class="btn btn-danger btn-user btn-block text-white" title="Cancelar"
                                                    routerLink="/clients">
                                                    <i class="fas fa-times-circle"></i> Cancelar
                                                </a>
                                            </div>
                                            <div class="col-lg-3 mb-3 mb-lg-0 ">
                                                <button type="submit" value="Create"
                                                    class="btn btn-primary btn-user btn-block text-white"
                                                    title="Guardar" [disabled]="ClientsCreateForm.invalid">
                                                    <i class="fas fa-save"></i> Guardar
                                                </button>
                                            </div>
                                        </div>

                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>